body {
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: hotpink;
    text-decoration: underline;
}
a:active {
    color: yellowgreen;
}

.homePage {
    position: relative;
    width: 90%;
    min-width: 800px;
    max-width: 1280px;
    margin: 5rem auto;
}
.homePage header {
    text-align: center;
    color: white;
    background-color: pink;
    font-size: 2rem;
    padding: 1rem;
}
.homePage nav {
    padding: 0.8rem;
}
.center {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 400px;
    margin-bottom: 0.5rem;
}
.center main {
    color: white;
    background-color: orange;
    padding: 0.8rem;
    font-weight: bolder;
    width: 80%;
}
.center aside {
    width: 20%;
    background-color: bisque;
    height: 100%;
}
.homePage footer {
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: larger;
    padding: 0.8rem;
    background-color: yellowgreen;
}
