.siteBar {
  a {
    color: black;
  }
  .largeNavBar {
    position: relative;
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.1));
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15);
    height: 3rem;
    display: flex;
    align-items: center;
    .choose {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.08));
    }
    section {
      font-weight: lighter;
      cursor: pointer;
      padding: 1rem 0.8rem;
      font-family: sans-serif;
      &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.08));
      }
    }
    header {
      padding: 1rem;
      font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
      margin-right: 0.5rem;
      a {
        display: flex;
        align-items: center;
        span {
          font-size: 1.2rem;
          padding: 0.2rem;
        }
        img {
          width: 1.5em;
          height: 1.5rem;
          margin-right: 0.1rem;
        }
      }
    }
    main {
      display: flex;
      /* medium-sized screens */
      @media only screen and (max-width: $break-point-sm) {
        display: none;
      }
    }
  }
  .smallNavBar {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: max-height 1s linear;
    .choose {
      background-image: linear-gradient(-90deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.03));
    }
    section {
      font-weight: lighter;
      cursor: pointer;
      padding: 1rem 0.8rem;
      font-family: sans-serif;
      &:hover {
        background-image: linear-gradient(-90deg,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.03));
      }
    }
    &.hide {
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }
  }
}

.menuButton {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3rem;
  /* medium screens */
  @media only screen and (min-width: $break-point-sm + 1px) {
    display: none;
  }
  @keyframes topBarClose {
    0% {
      transform: rotate(-45deg) translateY(1px);
    }
    50% {
      transform: rotate(0) translateY(1px);
    }
    100% {
      transform: rotate(0) translateY(4px);
    }
  }
  @keyframes bottomBarClose {
    0% {
      transform: rotate(45deg) translateY(-1px);
    }
    50% {
      transform: rotate(0) translateY(-1px);
    }
    100% {
      transform: rotate(0) translateY(-4px);
    }
  }
  @keyframes topBarOpen {
    0% {
      transform: rotate(0) translateY(4px);
    }
    50% {
      transform: rotate(0) translateY(1px);
    }
    100% {
      transform: rotate(-45deg) translateY(1px);
    }
  }
  @keyframes bottomBarOpen {
    0% {
      transform: rotate(0) translateY(-4px);
    }
    50% {
      transform: rotate(0) translateY(-1px);
    }
    100% {
      transform: rotate(45deg) translateY(-1px);
    }
  }
  @mixin bar-animation-static-setting {
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
  }
  .topBar {
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    transform: rotate(0) translateY(4px);
  }
  .bottomBar {
    width: 20px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
    transform: rotate(0) translateY(-4px);
  }
  .topBarClose {
    animation-name: topBarClose;
    @include bar-animation-static-setting;
  }
  .bottomBarClose {
    animation-name: bottomBarClose;
    @include bar-animation-static-setting;
  }
  .topBarOpen {
    animation-name: topBarOpen;
    @include bar-animation-static-setting;
  }
  .bottomBarOpen {
    animation-name: bottomBarOpen;
    @include bar-animation-static-setting;
  }
}
.operationSign {
  position: relative;
  display: inline-block;
  .additionContainer {
    position: absolute;
    filter: drop-shadow(5px 0 5px rgba(0, 0, 0, 0.5));
    .addition {
      clip-path: polygon(35% 0%, 65% 0%, 65% 35%, 100% 35%, 100% 65%, 65% 65%, 65% 100%, 35% 100%, 35% 65%, 0% 65%, 0% 35%, 35% 35%);  // plus shape
    }
  }
  .subtraction {
    position: absolute;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2), -5px 0 5px rgba(0, 0, 0, 0.2);
  }
  .division {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    .upperDot {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 100rem;
    }
    .middleBar {
      margin: 0.5rem 0;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
    }
    .lowerDot {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 100rem;
    }
  }
}
#app {
  .foot {
    padding: 5rem 10rem 2rem 10rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    a {
      position: relative;
      color:rgba(255, 255, 255, 0.6);
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
    header {
      text-align: left;
      font-size: 2rem;
      color:rgba(255, 255, 255, 1);
      width: 25rem;
      span {
        color: yellow;
      }
    }
    main {
      color:rgba(255, 255, 255, 0.6);
      header {
        display: block;
        text-align: left;
        color:rgba(255, 255, 255, 0.8);
        font-size: 1.3rem;
        width: inherit;
      }
      main {
        margin-top: 1rem;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        section {
          display: flex;
          justify-content: center;
          svg {
            color: yellow;
            margin-right: 0.5rem;
          }
          &:not(:first-child) {
            margin-top: 0.5rem;
          }
        }
      }
    }
    .header {
      grid-column-start: 2;
    }
    .contactInfo {
      grid-column-start: 3;
    }
    .copyRightInfo {
      color:rgba(255, 255, 255, 0.6);
      font-size: 1.2rem;
      text-align: left;
      grid-row-start: 2;
      grid-column-start: 2;
    }
    .aboutMe {
      grid-row-start: 3;
      grid-column-start: 2;
    }
    .socialLink {
      grid-row-start: 3;
      grid-column-start: 3;
    }
  }
  /* medium-sized screens */
  @media only screen and (max-width: $break-point-lg) and (min-width: $break-point-md) {
    .foot {
      padding: 5rem 2rem 2rem 2rem;
    }
  }
  /* small screens */
  @media only screen and (max-width: $break-point-md) and (min-width: $break-point-sm) {
    .foot {
      padding: 5rem 1rem 2rem 1rem;
      grid-template-columns: 1fr 1fr;
      .header {
        font-size: 1.5rem;
        grid-column-start: 1;
      }
      .contactInfo {
        grid-row-start: 2;
        grid-column-start: 1;
        header {
          font-size: 1.3rem;
        }
      }
      .copyRightInfo {
        grid-row-start: 3;
        grid-column-start: 1;
      }
      .aboutMe {
        grid-row-start: 4;
        grid-column-start: 1;
      }
      .socialLink {
        grid-row-start: 4;
        grid-column-start: 2;
      }
    }
  }
  /* x small screens */
  @media only screen and (max-width: $break-point-sm) {
    .foot {
      padding: 5rem 1rem 2rem 1rem;
      grid-template-columns: 1fr;
      .header {
        font-size: 1.3rem;
        grid-column-start: 1;
      }
      .contactInfo {
        grid-row-start: 2;
        grid-column-start: 1;
        header {
          font-size: 1.1rem;
        }
      }
      .copyRightInfo {
        grid-row-start: 3;
        grid-column-start: 1;
      }
      .aboutMe {
        grid-row-start: 4;
        grid-column-start: 1;
      }
      .socialLink {
        grid-row-start: 5;
        grid-column-start: 1;
      }
    }
  }
}