.main {
  .firstSection {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(#0f0c29, #302b63, #24243e);
    overflow: hidden;
    display: flex;
    justify-content: center;
    .container {
      position: relative;
      margin: 0;
      height: 100%;
      .mainCover {
        position: relative;
        z-index: 2;
        top: 10rem;
        background-image: linear-gradient(#1e3c72, #2a5298e8);
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        width: 40rem;
        color: white;
        padding: 2rem;
        header {
          font-size: 2rem;
        }
        main {
          font-family: sans-serif;
          h2 {
            font-weight: bolder;
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
      .backgroundCover {
        position: absolute;
        z-index: 1;
        top: 7rem;
        left: 18rem;
        background-image: linear-gradient(#3494E6, #EC6EAD);
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2), -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
        width: 30rem;
        height: 40rem;
      }
      .operationSignGroup-1 {
        position: absolute;
        display: inline-block;
        top: 5rem;
        right: 0;
        z-index: 3;
      }
      .operationSignGroup-2 {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .operationSignGroup-3 {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }
  .secondSection {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    .goToProfileButton {
      transition: 1s;
      text-align: center;
      cursor: pointer;
      background-color: yellowgreen;
      box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      color: white;
      padding: 0.5rem 1.5rem;
      left: 20rem;
      &:hover {
        filter: brightness(90%);
      }
      &.hide {
        transform: scale(0);
        opacity: 0;
      }
      &.show {
        transform: scale(1);
        opacity: 1;
      }
    }
    .operationSignGroup-4 {
      position: absolute;
      left: 50%;
      transition: 1s;
      height: 100%;
      top: -4rem;
      z-index: 2;
    }
  }
}
/* x large screens */
@media only screen and (min-width: $break-point-xl) {

}
/* large screens */
@media only screen and (max-width: $break-point-xl) and (min-width: $break-point-lg) {
  .main {
    .firstSection {
      height: 30rem;
      .container {
        .mainCover {
          width: 38rem;
          height: auto;
          top: 5rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 2rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 25rem;
          top: 3rem;
          left: 20rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.7);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 3rem;
          transform: scale(0.9);
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: -15rem;
          transform: scale(0.9);
        }
      }
    }
    .secondSection {
      .operationSignGroup-4 {
        transform-origin: center 1rem;
        transform: scale(0.7);
      }
    }
  }
}
/* medium-sized screens */
@media only screen and (max-width: $break-point-lg) and (min-width: $break-point-md) {
  .main {
    .firstSection {
      height: 28rem;
      .container {
        .mainCover {
          width: 35rem;
          height: auto;
          top: 5rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.9rem;
            }
            p {
              font-size: 1.1rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 20rem;
          top: 3rem;
          left: 20rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.6);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 3rem;
          transform: scale(0.8);
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: -15rem;
          transform: scale(0.8);
        }
      }
    }
    .secondSection {
      .operationSignGroup-4 {
        transform-origin: center 2rem;
        transform: scale(0.6);
      }
    }
  }
}
/* small screens */
@media only screen and (max-width: $break-point-md) and (min-width: $break-point-sm) {
  .main {
    .firstSection {
      height: 25rem;
      .container {
        .mainCover {
          width: 30rem;
          height: auto;
          top: 4rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.1rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 18rem;
          top: 2rem;
          left: 15rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.5);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 0rem;
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: 8rem;
          transform: scale(0.4);
        }
      }
    }
    .secondSection {
      .operationSignGroup-4 {
        transform-origin: center 3rem;
        transform: scale(0.5);
      }
    }
  }
}
/* x small screens */
@media only screen and (max-width: $break-point-sm) {
  .main {
    .firstSection {
      height: 23rem;
      .container {
        width: 90vw;
        .mainCover {
          width: 100%;
          height: auto;
          top: 4rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 100%;
          top: 2rem;
          left: 10rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 2rem;
          transform: scale(0.4);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 0rem;
          left: 3rem;
          transform: scale(0.5);
        }
        .operationSignGroup-3 {
          display: none;
        }
      }
    }
    .secondSection {
      .operationSignGroup-4 {
        transform-origin: center 3rem;
        transform: scale(0.4);
      }
    }
  }
}
