.home {
  min-height: 90vh;
  .firstSection {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: linear-gradient(map-get($liner-color, 'lawrencium'));
    overflow: hidden;
    display: flex;
    justify-content: center;
    .container {
      position: relative;
      margin: 0;
      height: 100%;
      .mainCover {
        position: relative;
        z-index: 2;
        top: 10rem;
        background-image: linear-gradient(map-get($liner-color, 'joomla'));
        opacity: 0.95;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        width: 40rem;
        color: white;
        padding: 2rem;
        header {
          font-size: 2rem;
        }
        main {
          font-family: sans-serif;
          h2 {
            font-weight: bolder;
            font-size: 2rem;
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
      .backgroundCover {
        position: absolute;
        z-index: 1;
        top: 7rem;
        left: 18rem;
        background-image: linear-gradient(map-get($liner-color, 'vice-city'));
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2), -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
        width: 30rem;
        height: 40rem;
        opacity: 0.9;
      }
      .operationSignGroup-1 {
        position: absolute;
        display: inline-block;
        top: 5rem;
        right: 0;
        z-index: 3;
      }
      .operationSignGroup-2 {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
      }
      .operationSignGroup-3 {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }
  .secondSection {
    position: relative;
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    main {
      z-index: 1;
      margin: 3rem;
      header {
        font-size: 2rem;
      }
      p {
        font-size: 1.3rem;
      }
      .goToProjectButton {
        transition: 1s;
        text-align: center;
        cursor: pointer;
        background-image: linear-gradient(map-get($liner-color, 'aubergine'));
        background-color: purple;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        display: inline-block;
        padding: 0.8rem 4rem;
        &:hover {
          background-image: linear-gradient(darken-colors('aubergine', 2%));
        }
        &.hide {
          transform: scale(0);
          opacity: 0;
        }
        &.show {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
    .imageContainer {
      position: relative;
      display: inline-block;
      img {
        z-index: 1;
        display: inline-block;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        width: 30rem;
      }
      &::after {
        position: absolute;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        display: block;
        background-color: #3494E6;
        content: "";
        width: 95%;
        height: 100%;
        top: 1rem;
        left: 3rem;
        z-index: -1;
      }
    }
    .backgroundCover {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      top: 0;
      bottom: 0;
      left: 0;
      right: 50%;
      z-index: -2;
    }
    .operationSignGroup-4 {
      position: absolute;
      left: 40%;
      z-index: 2;
    }
  }
  .thirdSection {
    height: 40rem;
    background-color: #3494E6;
    background-image: linear-gradient(map-get($liner-color, 'j-shine'));
  }
}
/* x large screens */
@media only screen and (min-width: $break-point-xl) {

}
/* large screens */
@media only screen and (max-width: $break-point-xl) and (min-width: $break-point-lg) {
  .home {
    .firstSection {
      height: 30rem;
      .container {
        .mainCover {
          width: 38rem;
          height: auto;
          top: 5rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 2rem;
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 25rem;
          top: 3rem;
          left: 20rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.7);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 3rem;
          transform: scale(0.9);
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: -15rem;
          transform: scale(0.9);
        }
      }
    }
    .secondSection {
      height: 30rem;
      main {
        .goToProjectButton {
          padding: 0.8rem 3.8rem;
        }
      }
      .operationSignGroup-4 {
        left: 40%;
        transform: scale(0.7);
      }
    }
    .thirdSection {
      height: 30rem;
    }
  }
}
/* medium-sized screens */
@media only screen and (max-width: $break-point-lg) and (min-width: $break-point-md) {
  .home {
    .firstSection {
      height: 28rem;
      .container {
        .mainCover {
          width: 35rem;
          height: auto;
          top: 5rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.9rem;
            }
            p {
              font-size: 1.1rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 20rem;
          top: 3rem;
          left: 20rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.6);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 3rem;
          transform: scale(0.8);
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: -15rem;
          transform: scale(0.8);
        }
      }
    }
    .secondSection {
      height: 28rem;
      main {
        margin: 2rem;
        .goToProjectButton {
          padding: 0.7rem 3.5rem;
        }
      }
      .imageContainer {
        img {
          width: 22rem;
        }
        &::after {
          left: 2rem;
        }
      }
      .operationSignGroup-4 {
        left: 44%;
        transform: scale(0.6);
      }
    }
    .thirdSection {
      height: 28rem;
    }
  }
}
/* small screens */
@media only screen and (max-width: $break-point-md) and (min-width: $break-point-sm) {
  .home {
    .firstSection {
      height: 25rem;
      .container {
        .mainCover {
          width: 30rem;
          height: auto;
          top: 4rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.6rem;
            }
            p {
              font-size: 1.1rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 18rem;
          top: 2rem;
          left: 15rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 1rem;
          transform: scale(0.5);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 1rem;
          left: 0rem;
        }
        .operationSignGroup-3 {
          position: absolute;
          top: 0rem;
          left: 8rem;
          transform: scale(0.4);
        }
      }
    }
    .secondSection {
      height: 25rem;
      flex-direction: column-reverse;
      main {
        p {
          margin: 2rem 2rem 0 0;
          display: inline;
        }
        .goToProjectButton {
          position: relative;
          display: inline;
          top: -1rem;
          padding: 0.7rem 3rem;
        }
      }
      .imageContainer {
        margin-top: 3rem;
        img {
          width: 22rem;
        }
        &::after {
          left: 2rem;
        }
      }
      .operationSignGroup-4 {
        left: 80%;
        transform: scale(0.5);
      }
    }
    .thirdSection {
      height: 25rem;
    }
  }
}
/* x small screens */
@media only screen and (max-width: $break-point-sm) {
  .home {
    .firstSection {
      height: 23rem;
      .container {
        width: 90vw;
        .mainCover {
          width: 100%;
          height: auto;
          top: 4rem;
          padding: 1.5rem;
          header {
            font-size: 2rem;
          }
          main {
            h2 {
              font-size: 1.3rem;
            }
            p {
              font-size: 0.8rem;
            }
          }
        }
        .backgroundCover {
          position: absolute;
          width: 100%;
          top: 2rem;
          left: 10rem;
        }
        .operationSignGroup-1 {
          position: absolute;
          top: 2rem;
          right: 2rem;
          transform: scale(0.4);
        }
        .operationSignGroup-2 {
          position: absolute;
          top: 0rem;
          left: 3rem;
          transform: scale(0.5);
        }
        .operationSignGroup-3 {
          position: absolute;
          top: -5rem;
          left: -5rem;
          transform: scale(0.5);
        }
      }
    }
    .secondSection {
      height: auto;
      flex-direction: column-reverse;
      main {
        header {
          font-size: 1.8rem;
        }
        p {
          font-size: 1.2rem;
        }
        .goToProjectButton {
          padding: 0.8rem 4rem;
        }
      }
      .imageContainer {
        margin-top: 3rem;
        img {
          width: 80vw;
        }
        &::after {
          top: 3vw;
          left: 8vw;
        }
      }
      .backgroundCover {
        display: none;
      }
      .operationSignGroup-4 {
        left: 5%;
        transform: scale(0.4);
      }
    }
    .thirdSection {
      height: 23rem;
    }
  }
}
