* {
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  font-family: Arial;
}
a {
  text-decoration: none;
}
#app {
  .foot {
    padding: 1rem;
    font-size: large;
    text-align: center;
    a {
      color: black;
    }
  }
}
.lazyLoading {
  font-size: 3rem;
  font-weight: bolder;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* break points */
$break-point-xs: 480px;
$break-point-sm: 576px;
$break-point-md: 768px;
$break-point-lg: 1024px;
$break-point-xl: 1280px;

/* liner color */
$liner-color: (
  grade-grey: (#bdc3c7, #2c3e50),
  witching-hour: (#c31432, #240b36),
  dark-ocean: (#373B44, #4286f4),
  evening-sunshine: (#b92b27, #1565C0),
  piggy-pink: (#ee9ca7, #ffdde1),
  sunrise: (#FF512F, #F09819),
  yoda: (#FF0099, #493240),
  flare: (#f12711, #f5af19),
  neuromancer: (#f953c6, #b91d73),
  amin: (#8E2DE2, #4A00E0),
  metapolis: (#659999, #f4791f),
  harvey: (#1f4037, #99f2c8),
  aqua-marine: (#1A2980, #26D0CE),
  aubergine: (#AA076B, #61045F),
  bloody-mary: (#FF512F, #DD2476),
  mango-pulp: (#F09819, #EDDE5D),
  frozen: (#403B4A, #E7E9BB),
  rose-water: (#E55D87, #5FC3E4),
  horizon: (#003973, #E5E5BE),
  cool-blues: (#2193b0, #6dd5ed),
  monte-carlo: (#CC95C0, #DBD4B4, #7AA1D2),
  mega-tron: (#C6FFDD, #FBD786, #f7797d),
  moonlit-asteroid: (#0F2027, #203A43, #f7797d),
  j-shine: (#12c2e9, #c471ed, #f7797d),
  cool-sky: (#2980B9, #6DD5FA, #FFFFFF),
  azur-lane: (#7F7FD5, #86A8E7, #91EAE4),
  memariani: (#aa4b6b, #6b6b83, #3b8d99),
  very-blue: (#0964be, #052dbd),
  vice-city: (#3494E6, #EC6EAD),
  lawrencium: (#0f0c29, #302b63, #24243e),
  joomla: (#1e3c72, #2a5298),
  blue-sky: (#56CCF2, #2F80ED)
);

@each $name, $values in $liner-color {
  .liner-color-#{$name} {
    background-color: #aaa; /* For browsers that do not support gradients */
    background-image: linear-gradient(#{$values});
  }
}

@function darken-colors($colorName, $percentage) {
  $colorList: map-get($liner-color, $colorName);
  $darkenColorList: ();
  @each $color in $colorList {
    $darkenColorList: append($darkenColorList, darken($color, $percentage), $separator: comma);
  }
  @return $darkenColorList;
}

@import "home.scss";
@import "profile.scss";
@import "project.scss";
@import "demo.scss";
@import "knowledge.scss";
@import "parallax.scss";
@import "components.scss";

/* x large screens */
@media only screen and (min-width: $break-point-xl) {
    
}
/* large screens */
@media only screen and (max-width: $break-point-xl) and (min-width: $break-point-lg) {

}
/* medium-sized screens */
@media only screen and (max-width: $break-point-lg) and (min-width: $break-point-md) {

}
/* small screens */
@media only screen and (max-width: $break-point-md) and (min-width: $break-point-sm) {
    
}
/* x small screens */
@media only screen and (max-width: $break-point-sm) {
    
}