.parallaxDemo1 {
    #header {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        z-index: 3;
        position: fixed;
        top: 0;
        width: 100%;
        background: #fd62a9;
        color: #000;
        text-align: center;
        -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        border-bottom: 3px solid #000;
    }

    .parallax {
        position: relative;
        z-index: 1;
        height: 450px;
        -webkit-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
        box-shadow: inset 0px -6px 5px rgba(50, 50, 50, 0.75);
    }

    #trans1 {
        background: url("http://i1289.photobucket.com/albums/b506/katie_rogers6/KatieandJacob-149_zps1a213273.jpg")
            no-repeat fixed;
        height: 575px;
        background-position: center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #trans2 {
        background: url("http://i1289.photobucket.com/albums/b506/katie_rogers6/KatieandJacob-159_zpsb28e3e63.jpg")
            no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #trans3 {
        background: url("http://i1289.photobucket.com/albums/b506/katie_rogers6/KatieandJacob-372_zpsb1f5c475.jpg")
            no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 550px;
    }

    .txt {
        font-family: "Niconne", cursive;
        font-size: 55px;
        color: #000;
        width: auto;
        background: #fd62a9;
        background: rgba(255, 102, 153, 0.6);
        padding: 5px 10px;
    }
    .txt.right {
        margin: 150px 100px 0 0;
        float: right;
        text-align: right;
    }
    .txt.left {
        float: left;
        text-align: left;
        margin: 150px 0 0 100px;
    }

    .txt.sub {
        font-size: 50px;
        line-height: 175%;
        font-weight: lighter;
        letter-spacing: 1.5px;
        background: #000;
        background: rgba(0, 0, 0, 0.6);
        font-size: 25px;
        color: #ccc;
        margin: 0 100px 0 100px;
    }
    .content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        z-index: 2;
        background: #fff;
        width: 100%;

        margin: 0;
        padding: 10px 20px;
        -webkit-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 6px 5px rgba(50, 50, 50, 0.75);
        text-align: left;
    }

    .content.right {
        text-align: right;
    }

    .content h2 {
        padding: 0 25px;
    }
    .content p {
        padding: 0 50px;
    }

    #footer {
        text-align: center;
        padding: 20px 0 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: relative;
        z-index: 2;
        background: #fff;
        width: 100%;
        height: auto;
        margin: 0;
        -webkit-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
        box-shadow: 90px 6px 5px rgba(50, 50, 50, 0.75);
    }
}

.parallaxDemo2 {
    width: 100%;
    height: 100%;
    background-color: #253237;
}

.parallaxDemo3 {
    height: 500vh;
    background: #000;
    canvas {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 100vw;
        max-height: 100vh;
    }
}

.parallaxDemo4 {
    color: hsl(0, 0%, 95%);
    background-color: hsl(5, 15%, 5%);
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    font-family: "Lato", sans-serif;
    line-height: 1.6;

    * {
        box-sizing: border-box;
    }

    a {
        color: hsl(65, 80%, 60%);
        text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
    }

    .page-title {
        text-align: center;
    }

    .page-title::after {
        content: "↓";
        display: block;
        font-size: 2em;
        opacity: 0;
        transform: translateY(-24px);
        animation: fadein 800ms 500ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    }

    .header,
    .footer {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .section {
        transform-origin: center top;
        transform: scaleY(0.9);
    }

    .section > * {
        transform-origin: center top;
        transform: scaleY(calc(1 / 0.9));
    }

    .section-title {
        font-family: "Playfair Display", serif;
        font-size: clamp(2.5rem, 6vw, 4.5rem);
        font-weight: bold;
        line-height: 1.125;
    }

    .byline {
        display: block;
        font-size: 0.6em;
        margin: 0 0;
    }

    .content {
        position: relative;
        margin: -50vh auto 0;
        padding: 8vmin;
        max-width: 55ch;
        width: calc(100% - 8vmin);
        background: hsla(5, 15%, 5%, 0.9);
    }

    .content > * + * {
        margin-top: 2rem;
    }

    figure {
        margin: 0;
    }

    .image-container {
        position: sticky;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }

    .image-container img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-container::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(
            to bottom,
            hsla(5, 15%, 5%, 0) 0%,
            hsla(5, 15%, 5%, 0.013) 8.1%,
            hsla(5, 15%, 5%, 0.049) 15.5%,
            hsla(5, 15%, 5%, 0.104) 22.5%,
            hsla(5, 15%, 5%, 0.175) 29%,
            hsla(5, 15%, 5%, 0.259) 35.3%,
            hsla(5, 15%, 5%, 0.352) 41.2%,
            hsla(5, 15%, 5%, 0.45) 47.1%,
            hsla(5, 15%, 5%, 0.55) 52.9%,
            hsla(5, 15%, 5%, 0.648) 58.8%,
            hsla(5, 15%, 5%, 0.741) 64.7%,
            hsla(5, 15%, 5%, 0.825) 71%,
            hsla(5, 15%, 5%, 0.896) 77.5%,
            hsla(5, 15%, 5%, 0.951) 84.5%,
            hsla(5, 15%, 5%, 0.987) 91.9%,
            hsl(5, 15%, 5%) 100%
        );
    }

    @keyframes fadein {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

.parallaxDemo5 {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;

    /* Parallax Styles */
    .parallax-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        perspective: 10px;
        perspective-origin: 0%;
        display: flex;
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateZ(0px);
        }

        .foreground {
            margin-top: auto;

            transform-origin: 0;
            transform: translateZ(5px);

            /* Uncomment the code below to see the difference the scale property makes! */
            // transform: translateZ(3px);
            // transform: translateZ(0) scale(1);
            h1 {
                font-size: 1rem;
            }
        }
    }
}
