.profile {
  position: relative;
  $themeColor: rgb(22, 112, 85);
  $barColor: rgb(252, 206, 1);
  $textColor: rgb(0, 136, 160);
  min-height: 90vh;
  a {
    color: black;
    margin-right: 1rem;
  }
  article {
    position: relative;
    display: flex;
    justify-content: center;
    color: $textColor;
    aside {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      padding: 2rem 2rem 0 0;
      text-align: right;
      .period {
        position: relative;
        margin-bottom: 2rem;
        span {
          position: relative;
          color: $themeColor;
          font-size: 1.6rem;
          font-weight: 900;
          text-transform: uppercase;
          small {
            position: absolute;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 500;
            top: -1rem;
            right: 0;
            color: $textColor;
          }
        }
      }
      .firstRow {
        position: relative;
        display: inline-block;
        color: black;
        font-weight: bolder;
        &::before {
          position: absolute;
          top: -1rem;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1);
        }
      }
      .secondRow {
        margin-top: 1rem;
        font-weight: bold;
      }
    }
    main {
      flex-grow: 3;
      flex-shrink: 3;
      flex-basis: 0;
      display: block;
      margin-top: 0;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      padding: 1rem 2rem;
      header {
        color: black;
        text-align: left;
        font-weight: bold;
      }
      main {
        padding: 0;
        border: none;
      }
    }
    &:not(:last-child) {
      margin-bottom: 4rem;
      &::after {
        position: absolute;
        bottom: -2rem;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  .title {
    font-size: 4rem;
    font-weight: bolder;
    font-family: "Times New Roman", Times, serif;
    margin: 4rem 0 2rem 0;
  }
  nav {
    background-color: $themeColor;
    position: -webkit-sticky;
    position: sticky;
    padding: 1rem 0;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: flex-end;
    transition: 0.5s;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    section {
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      padding: 0 2rem;
      color: darken(white, 30);
      &:hover {
        color: white;
        &::before {
          opacity: 1;
          left: 1rem;
        }
        &::after {
          opacity: 1;
          right: 1rem;
        }
      }
      &::before {
        transition: 0.5s;
        position: absolute;
        color: $barColor;
        content: "|";
        left: 2rem;
        opacity: 0;
      }
      &::after {
        transition: 0.5s;
        position: absolute;
        color: $barColor;
        content: "|";
        right: 2rem;
        opacity: 0;
      }
      &.chose {
        &::before {
          left: 1rem;
          opacity: 1;
        }
        &::after {
          opacity: 1;
          right: 1rem;
        }
      }
      &.positioning {
        color: $barColor;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    .container {
      width: 80vw;
      .firstSection {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        main {
          align-items: flex-start;
          flex: 1 1 0;
          margin-right: 5rem;
          @keyframes headerShowAnimation {
            0% {
              opacity: 0;
              right: 10rem;
            }
            100% {
              opacity: 1;
              right: 0;
            }
          }
          animation-name: headerShowAnimation;
          animation-duration: 1s;
          header {
            width: 100%;
            hr {
              display: inline-block;
              width: 80%;
              border: none;
              height: 1rem;
              background-color: $themeColor;
            }
            span:nth-child(2) {
              font-size: 4rem;
              font-family: Arial;
              font-weight: bold;
            }
            span:nth-child(3) {
              margin-left: 1rem;
              font-size: 4rem;
              font-family: sans-serif;
            }
          }
          .upperSection {
            margin-top: 1rem;
          }
          .lowerSection {
            margin-top: 15rem;
            header {
              text-transform: uppercase;
              font-size: 1.5rem;
            }
            hr {
              width: 100%;
              border: none;
              height: 0.1rem;
              background-color: rgb(0, 0, 0);
            }
            p {
              font-size: 1.2rem;
            }
          }
        }
        .profileContainer {
          @keyframes imageShowAnimation {
            0% {
              opacity: 0;
              left: 10rem;
            }
            100% {
              opacity: 1;
              left: 0;
            }
          }
          animation-name: imageShowAnimation;
          animation-duration: 1s;
          flex: 1 1 0;
          position: relative;
          display: inline-block;
          img {
            position: relative;
            width: 40rem;
            z-index: 1;
          }
          &::after {
            position: absolute;
            display: block;
            border: 0.3rem solid $themeColor;
            content: "";
            width: 40rem;
            height: 100%;
            top: 1rem;
            left: -2rem;
            z-index: 2;
          }
        }
      }
      .secondSection {
      }
      .thirdSection {
      }
      .forthSection {
        height: 40rem;
      }
    }
  }
  footer {
    .toTopButton {
      position: fixed;
      right: 0;
      bottom: 0;
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent $themeColor transparent;
      border-width: 0 0 5rem 5rem;
      transition: 0.5s;
      opacity: 0.5;
      z-index: 100;
      span {
        color: white;
        position: relative;
        top: 2.7rem;
        right: 2rem;
      }
      &:hover {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
    }
  }
  /* x large screens */
  @media only screen and (min-width: $break-point-xl) {
      
  }
  /* large screens */
  @media only screen and (max-width: $break-point-xl) and (min-width: $break-point-lg) {

  }
  /* medium-sized screens */
  @media only screen and (max-width: $break-point-lg) and (min-width: $break-point-md) {

  }
  /* small screens */
  @media only screen and (max-width: $break-point-md) and (min-width: $break-point-sm) {
      
  }
  /* x small screens */
  @media only screen and (max-width: $break-point-sm) {
    .title {
      font-size: 2rem;
      margin: 1rem 0;
    }
    nav {
      justify-content: space-evenly;
      section {
        padding: 0 0.5rem;
        font-size: 0.8rem;
        &.chose {
          &::before {
            left: 0rem;
          }
          &::after {
            right: 0rem;
          }
        }
      }
    }
    main {
      margin-top: 1rem;
      padding: 0;
      .container {
        width: 90vw;
        .firstSection {
          display: block;
          main {
            margin-right: 0rem;
            header {
              hr {
                height: 0.5rem;
              }
              span:nth-child(2) {
                font-size: 2rem;
              }
              span:nth-child(3) {
                font-size: 2rem;
              }
            }
            .upperSection {
              margin-top: 1rem;
            }
            .lowerSection {
              margin-top: 1rem;
            }
          }
          .profileContainer {
            position: relative;
            margin: 2rem 0 1rem 2rem;
            img {
              width: 80vw;
            }
            &::after {
              width: 80vw;
              height: 95%;
              top: -1rem;
              left: -1rem;
            }
          }
        }
      }
    }
  }
}